/* 主题色 #4FB4F8 */
html {
	font-size: 14px;
	background: #fff;
}
.form_error {
	color: red;
	font-size: 12px;
	position: absolute;
	bottom: -5px;
	left: 0;
}
.no_data {
	text-align: center;
	font-size: 14px;
	color: #ccc;
	padding: 20px 0;
}
.wf_body {
	padding-top: 56px;
}

.wf_webview {
	background: #fff;
}

.wf_webview>header {
	position: relative;
	background: #fcfcfc;
	height: 54px;
	border-bottom: solid 1px #eee;
}

.wf_webview .mui-bar {
	background: #fcfcfc;
	box-shadow: none;
	/* border-top: solid 1px #eee; */
}

.wf_icon_nav {
	position: absolute;
	display: inline-block;
	width: 44px;
	height: 54px;
	top: 0;
	right: 0;
}

.wf_hr {
	width: 100%;
	height: 1px;
	background: #eee;
}

/* .wf_icon_nav :active, .wf_grid_item :active {
	background-color: #f5f5f5;
} */
.wf_icon_nav span {
	display: inline-block;
	line-height: 44px;
	width: 100%;
	height: 100%;
}

.wf_icon_setting img {
	margin: 9px 4px;
	width: 85%;
}


.wf_webview>header .mui-icon {
	padding: 15px
}

.wf_lay {
	margin-top: 30px;
	padding: 0 15px;
}

.wf_grid_wrap {
	display: flex;
}

.wf_grid_item {
	flex: 1;
	display: block;
	text-align: center;
	height: 100px;
}

.wf_grid_wrap>.mui-grid-view.mui-grid-9 {
	background-color: #fff;
	border: none;
}

.wf_grid_wrap .mui-grid-view.mui-grid-9 .mui-table-view-cell {
	border: none;
}

.me_menu_icon img {
	width: 3.1714rem;
}

.me_nav_icon {
	width: 2.5rem;
	height: 2.5rem;
}

.home_icon {
	background: url(../img/home.jpg) no-repeat 1px 3px;
	background-size: 100%;
	margin: 0 auto;
}

.me_icon {
	background: url(../img/me_icon.png) no-repeat 1px 3px;
	background-size: 100%;
	margin: 0 auto;
}

.home_icon.active {
	background: url(../img/home_active.png) no-repeat 1px 3px;
	background-size: 100%;
	margin: 0 auto;
}

.me_icon.active {
	background: url(../img/me_icon_active.jpg) no-repeat 1px 3px;
	background-size: 100%;
	margin: 0 auto;
}

.me_menu_txt {
	padding-top: 10px;
	color: #333
}

.me_menu_status {
	color: #999;
	margin-bottom: 0;
}

.live_title {
	padding-left: 2.357rem;
	position: relative;
	font-size: 1rem;
	color: #666;
}

.live_icon_pen {
	position: absolute;
	width: 1.4285rem;
	height: 1.4285rem;
	left: 0
}

.live_icon_pen img {
	width: 100%;
}

.live_content {
	width: 100%;
	/* height: 15rem; */
	text-align: center;
	padding: 20px 15px;
	/* padding-bottom: 60px */
}

.live_content .live_null {
	text-align: center;
	padding-top: 60px;
}

.live_null>div {
	padding-top: 20px;
}

.live_content .add_btn >span {
	padding: 7px 18px;
	background: #ebf6fd;
	color: #4FB4F8;
	font-size: 1rem;
	border-radius: 8px;
}

.wf_me_info .me_info_picture {
	width: 7.1429rem;
	height: 7.1429rem;
	border-radius: 50%;
	overflow: hidden;
	background: #4FB4F8;
	float: left;
}

.wf_me_info ::after {
	content: '';
	display: block;
	clear: both;
}

.me_info_picture>img {
	width: 100%;
	height: 100%;
}

.me_info_con {
	margin-left: 8.2142rem;
}

.me_username {
	height: 1.7857rem;
}

.me_level {
	height: 2.8571rem;
}

.me_money {
	font-size: 12px;
}

.me_money span {
	border-radius: 8px;
	padding: 4px 15px;
	border: solid 1px #eee;
	display: inline-block;
}
.tel_content {
	color: #888;
}
.wl_h2 {
	font-size: 2rem;
	font-weight: 400;
	padding: 15px;
}
.wl_input_group {
	padding: 0 15px;
}
.wl_input_row {
	width: 100%;
	margin: 10px auto;
	position: relative;
}
.wl_input_row input {
	border: none;
	background: #f6f8fa;
	height: 48px;
}
.wl_auth_code {
	display: flex;
}
.wl_auth_code input {
	flex: 1;
}
.wl_auth_code button {
    margin-left: 20px;
    border: none;
    width: 6.4285rem;
    height: 48px;
    color: #fff;
    background: #4FB4F8;
}
.wl_input_row .wl_btn {
	width: 100%;
	height: 48px;
	color: #fff;
	border: none;
	background: #4FB4F8;
}

/* mui css 覆盖 */
.mui-navbar {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 10;
	height: 54px;
	background-color: #fcfcfc;
}

.mui-navbar .mui-bar {
	position: absolute;
	height: 54px;
	line-height: 54px;
	background: transparent;
	text-align: center;
	box-shadow: none;
	background: #fcfcfc;
	border-bottom: solid 1px #eee;
}
.mui-bar {
	height: 54px;
	line-height: 54px;
}
.mui-table-view-cell {
	padding: 13px 17px;
	position: relative;
}
.mui-table-view-cell .right-text {
	position: absolute;
	color: #4FB4F8;
	font-size: 1rem;
	right: 40px;
	top: 16px;
}
.mui-bar-nav .wf_title { font-size: 17px;line-height: 56px;margin: 0;padding-right: 20px;}
.mui-navbar .mui-btn-link {
	height: 54px;
}
.mui-bar-nav {
	box-shadow: none;
}

.mui-title {
	height: 54px;
	line-height: 54px;
}
.mui-bar .mui-btn-nav.mui-pull-left {
	width: 40px;
	margin-left: -13px;
	margin-right: 0;
}
.mui-icon-back:before, .mui-icon-left-nav:before {
	font-weight: 600;
    font-size: 24px;
}
.mui-bar .mui-btn-link {
	color: #4fb4f8;
	height: 54px;
}