<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>添加收货地址</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<!--标准mui.css-->
		<link rel="stylesheet" href="../css/mui.min.css">
		<link rel="stylesheet" href="../css/global.css">
		<link href="../css/mui.picker.css" rel="stylesheet" />
		<link href="../css/mui.poppicker.css" rel="stylesheet" />
		<!--App自定义的css-->
		<!--<link rel="stylesheet" type="text/css" href="../css/app.css" />-->
		<style>
			html {background: #f7f7f7;}
			input::-webkit-input-placeholder{font-size: 16px; color: #CCCCCC;}    /* 使用webkit内核的浏览器 */
			input:-moz-placeholder{font-size: 16px; color: #CCCCCC;}                  /* Firefox版本4-18 */
			input::-moz-placeholder{font-size: 16px; color: #CCCCCC;}                  /* Firefox版本19+ */
			input:-ms-input-placeholder{font-size: 16px; color: #CCCCCC;}   
			.add_form_wrap {}
			.add_row {position: relative;}
			.form_error {position: relative;}
			.add_row .add_label { display: block; font-size: 16px;color: #777; padding: 10px 0;}
			.add_input, input[type=tel] {border: none; width: 100%; height: 44px;padding: 0 20px;;}
			input[type=tel] {margin: 0}
			.add_city {position: relative; 44px; line-height: 44px; font-size: 16px;display: flex;}
			.city_level {flex: 1; text-align: right;padding-right: 20px; background: #fff;color: #ccc;}
			.city_level > span { color: #333; padding-right: 10px;}
			#showCityPicker3 {position: absolute; background: transparent; border: none;}
		</style>
	</head>
	<body class="wf_webview">
		<div class="mui-navbar-inner mui-bar mui-bar-nav">
			<button type="button" class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left">
				<span class="mui-icon mui-icon-left-nav"></span>
			</button>
			<h1 class="mui-center mui-title">添加收货地址</h1>
		</div>
		<div class="mui-scroll-wrapper">
			<div class="mui-scroll wf_body">
				<div class="add_form_wrap">
					<form id='add-form'>
						<div class="add_row">
							<label class="add_label">收货人姓名</label>
							<input id='userName' class="add_input" placeholder="请输入收货人姓名">
							<div id="userNameError" class="form_error"></div>
						</div>
						<div class="add_row">
							<label class="add_label">收货人联系方式</label>
							<input type="tel" id='telNumber' class="add_input" placeholder="请输入收货人联系方式">
							<div id="telNumberError" class="form_error"></div>
						</div>
						<div class="add_row">
							<label class="add_label">收货人地址</label>
							<div class="add_city">
								<div id="showProPicker" class="city_level"><span id="province"></span>省</div>
								<div id="showCityPicker" class="city_level"><span id="city"></span>市</div>
								<div id="showAreaPicker" class="city_level"><span id="area"></span>区</div>
								<!-- <button id='showCityPicker3' class="mui-btn mui-btn-block" type='button'></button> -->
							</div>
							<div id="adressError" class="form_error"></div>
							<div id='cityResult3' class="ui-alert"></div>
						</div>
						<div class="add_row">
							<label class="add_label">详细地址</label>
							<input id='adressDetail' class="add_input" placeholder="精确到门牌号">
						</div>
					</form>
				</div>
				
				<div class="wl_input_row" style="padding: 0 15px; margin-top: 20px">
					<button id="add_btn" class="wl_btn">确认</button>
				</div>
			</div>
		</div>
	</body>
	<script src="../js/mui.min.js"></script>
	<script src="../js/mui.picker.js"></script>
	<script src="../js/mui.poppicker.js"></script>
	<script src="../js/city.data-3.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/config.js"></script>
	<script src="../js/jquery.min.js"></script>
<!-- 	<script>
		mui.init({
			swipeBack:true //启用右滑关闭功能
		})
		mui('.mui-scroll-wrapper').scroll({
			bounce: true //是否启用回弹
		});
	</script> -->
	<script>
		function getAdressStr(str) {
			return str.slice(0, -1)
		}
		var cityList = [], areaList = [];
		(function(doc) {
			mui.init();
			var _getParam = function(obj, param) {
				return obj[param] || '';
			};
			//普通示例
			mui.plusReady(function() {
				$('#add_btn').on('tap', function() {
					//表单验证
					var name = $('#userName').val(), phone = $('#telNumber').val(),
						provinceId = $('#province').text(), city = $('#city').text(), area = $('#area')
					var vaild = false;
					if(name == '') {
						$('#userNameError').text('收货人不能为空');
						vaild = true;
					}
					if(!provinceId || !city || !area) {
						$('#adressError').text('收货地址不能为空')
						vaild = true;
					}
					if(phone == '') {
						$('#telNumberError').text('手机号不能为空');
						vaild = true;
					}
					if(vaild) {
						return false;
					}
					$http({
						url: '/auth/user/v2/add/receiving/address',
						data: {
							"token": localStorage.getItem('token'),
							"name": name,
							"phone": phone,
							"provinceId": provinceId,
							"cityId": city,
							"areaId": area,
							"street": $('#adressDetail').text()

						},
						success: function(res) {
							console.log(JSON.stringify(res));
							if(res.code == 10000) {
								mui.back();
							}else {
								plus.nativeUI.toast(res.msg);
							}
						}
					})
				})
				//级联示例
// 				var cityPicker3 = new mui.PopPicker({
// 					layer: 3
// 				});
// 				cityPicker3.setData(cityData3);
// 				var showCityPickerButton = doc.getElementById('showCityPicker3');
// 				var cityResult3 = doc.getElementById('cityResult3');
// 				showCityPickerButton.addEventListener('tap', function(event) {
// 					cityPicker3.show(function(items) {
// 						$('#province').text(_getParam(items[0], 'text'));
// 						$('#city').text(_getParam(items[1], 'text'));
// 						$('#area').text(_getParam(items[2], 'text'));
// 						// cityResult3.innerText = "你选择的城市是:" + _getParam(items[0], 'text') + " " + _getParam(items[1], 'text') + " " + _getParam(items[2], 'text');
// 						//返回 false 可以阻止选择框的关闭
// 						//return false;
// 					});
// 				}, false);
				
				//
				$('#showProPicker').on('tap',function() {
					getProvince();
				})
			});
			var old_back = mui.back;
			mui.back = function() {
				mui.fire(plus.webview.getWebviewById('me_adress'), 'myevent', 'test 返回刷新')
				old_back();
			}
			//获取省份
			function getProvince() {
				$http({
					url: '/auth/user/v2/get/province/code',
					data: {
						date: new Date()
					},
					success: function(res) {
						console.log(JSON.stringify(res));
						if(res.code == 10000) {
							cityData3 = res.msg;
						}
					}
				})
			}
			//获取市
			function getCity() {
				$http({
					url: '/auth/user/v2/get/city/code',
					data: {
						province: cityData3[0].id
					},
					success: function(res) {
						console.log(JSON.stringify(res));
						if(res.code == 10000) {
							cityList = res.msg;
						}
					}
				})
			}
		})(document);
		</script>
</html>